apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "5m"
  name: {{ $.Release.Name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $.Release.Name }}
spec:
  ingressClassName: "nginx"
  rules:
  - host: {{ $.Release.Name }}.{{ $.Release.Namespace }}.127.0.0.1.nip.io
    http:
      paths:
      - backend:
          service:
            name: {{ $.Release.Name }}
            port:
              number: 3000
        path: /
        pathType: Prefix
